.account-bg{
       width: 100vw;
       height: 50vh;
       background: url(../../../public/images//menu/account.jpg);
       background-size: cover;
}
.account-page-container{
       background: #c7a07a73;
       width: 100vw !important;
       padding: 10vh 0;
}
.account-sections-container{
       height: 10vh;
       width: 100vw;
}

.account-sections-title{
       border-radius: 1rem;
       color: #777777;
       background-color: transparent !important;
}
.account-sections-title:hover{
       color: aliceblue;
}
.account-sections-title-active{
       color: aliceblue;
       background-color: #7777771c !important;
}